@page
@model RTWPortal.Pages.Offices.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
        <h1>Office Details</h1>   
</div>

    <div class="text-center" style="margin-top:20px">

        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4"">
                    <ul style="list-style-type:none;">
                        <li><h3>@Html.DisplayFor(model => model.Office.Office_Name)</h3></li>
                        <li><h6>@Html.DisplayFor(model => model.Office.Location_Type)</li>
                        <li><br><h5>@Html.DisplayFor(model => model.Office.Status)</h5></li>
                        <li><br><strong>Region:</strong>@Html.DisplayFor(model => model.Office.Market_Unit)</li>
                        <li><br><strong>Address:</strong><br>@Html.DisplayFor(model => model.Office.Street_Address)</li>
                    </ul>
                </div>
                <div class="col-6 col-md-4"">
                    <ul style="list-style-type:none;">
                        <li><strong>Office Services:</strong> @Html.DisplayFor(model => model.Office.Services)</li>
                        <li><strong>Visitors Allowed:</strong> @Html.DisplayFor(model => model.Office.Visitors)</li>
                        <li><strong>Temperature Checks:</strong> @Html.DisplayFor(model => model.Office.Temp_Checks)</li>
                        <li><strong>Special Considerations:</strong> @Html.DisplayFor(model => model.Office.Special_Considerations)</li>
                        <li><strong>Special Consideration Details:</strong> @Html.DisplayFor(model => model.Office.Special_Consideration_Details)</li>
                        <li><strong>Tech Support:</strong> @Html.DisplayFor(model => model.Office.Tech_Support)</li>
                        <li><strong>Dress Code:</strong> @Html.DisplayFor(model => model.Office.Dress_Code)</li>
                        <li><strong>Additional Information:</strong> @Html.DisplayFor(model => model.Office.Additional_Info)</li>
                        @* <li><br><br><button type="button" id="purple" class="btn btn-primary btn-lg">Export</button></li> *@
                        <div>
                            <a asp-page="./Index">Back to List</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>     

    </div>

</div>


