@page
@model RTWPortal.Pages.Nonadmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Office</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Office_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Office_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Location_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Location_Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Services)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Services)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Market_Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Market_Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Street_Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Street_Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Zip_Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Zip_Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Dress_Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Dress_Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Tech_Support)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Tech_Support)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Additional_Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Additional_Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.User_Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.User_Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Visitors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Visitors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Special_Considerations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Special_Considerations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Special_Consideration_Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Special_Consideration_Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.Temp_Checks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.Temp_Checks)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Office.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
