@page
@model RTWPortal.Pages.Nonadmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Office_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Location_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Market_Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Street_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Zip_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Dress_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Tech_Support)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Additional_Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].User_Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Visitors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Special_Considerations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Special_Consideration_Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Temp_Checks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Office) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Office_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Services)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Market_Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dress_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tech_Support)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Additional_Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visitors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Special_Considerations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Special_Consideration_Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp_Checks)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
